// Define variables for your color scheme

// Variables Bootstrap
$red: #fd3437;
$blue: #0D6EFD;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F2F2F2;

// Variables TasteExplorers
$dark: #001346;
$light: #FEFEFE;
$orange: #FF5502;
$yellow: #FEDD74;

$orange-400: #FFC5AD;
$orange-450: #FF8953;
$orange-500: #FE681B;

$yellow-400: #FFE082;
$yellow-450: #FCE490;
$yellow-500: #FFE082;
