// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Overpass:ital,wght@0,100..900;1,100..900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Define fonts for body and headers
$body-font: "Overpass", "Helvetica", "sans-serif";
$headers-font: "Rambla", "Helvetica", "sans-serif";
$headers1-font: "Nunito Sans", "Helvetica", "sans-serif";

.p-light{
  font-family: $body-font;
  font-size: 16px;
  margin: 0 auto;
  line-height: normal;
}

.p-bold{
  font-family: $body-font;
  font-size: 18px;
  margin: 0 auto;
  line-height: normal;
}

.p-normal{
  font-family: $body-font;
  font-size: 16px;
  margin: 0 auto;
  line-height: normal;
}
