.button-container {
  display: flex;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}



.container {
  background: linear-gradient(to bottom, #fff6e5, #ffe4cc);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
}

.tagline {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #555; /* Gris élégant */
  margin-top: 10px;
  line-height: 1.5;
}

.btn-search {
  background-color: orangered;
}



.btn-organize {
  background-color: orangered;
}



.w-100 {
  width: 100%;
  max-width: 400px; /* Limite la largeur maximale */
}
