// Specific CSS for your home-page

body{
  background-color: $light;
}

.content-home{
  display: flex;
  flex-direction: column;
  gap: $L ;
  justify-content: center;
  height:85vh;
}

a{
  color: $dark;
  text-decoration: none;
}

.container-taste{
  margin-inline: $L;
  padding-bottom: 200px;
}

.index-meals{
  display: flex;
  flex-direction: column;
  gap:$L;
}

.no-border {
  margin: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.custom-datepicker {
  border-radius: 20px !important;
  background-color: yellow !important;
  border: 1px solid #ccc !important;
  padding: 10px 15px !important;
}

/* Styles pour le calendrier flatpickr (si vous l'utilisez) */
.flatpickr-calendar {
  border-radius: 20px !important;
  overflow: hidden !important;
}

.display-none{
  display: none;
}

.form-home{
  display: flex;
  gap:20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flatpickr-calendar.inline{
  background-color: #FCE490;
}

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange{
  border: $orange;
  background-color: $orange;
}

.flatpickr-day.selected.endRange, .flatpickr-day.endRange.endRange{
  border: $orange;
  background-color: $orange;
}
