// Specific CSS for your home-page

body{
  background-color: $light;
}

.content-home{
  display: flex;
  flex-direction: column;
  gap: $L ;
  justify-content: center;
}

a{
  color: $dark;
  text-decoration: none;
}

.container-taste{
  margin-inline: $L;
  padding-bottom: 200px;
}

.index-meals{
  display: flex;
  flex-direction: column;
  gap:$L;
}

.no-border {
  margin: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
