.more-meals{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.select{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 200px;
}
