<h1>Merci !</h1>
<br>
<h1>Votre hôte va recevoir une notification pour être averti de votre venue à son repas</h1>

<p>C’est le moment d’inviter quelqu’un !</p>
<form action="">
  <input type="text" name="email" placeholder="L'email de la personne à inviter" size="30">
  <input type="submit" value="Inviter" class="button btn-one">
</form>

<%= link_to 'Je ne souhaite inviter personne', dashboard_path, style: 'text-decoration: underline;' %>
