<h1>Notre selection de repas</h1>

<p>Nous vous avons sélectionné 3 repas qui vous conviendrait</p>

<%= simple_form_for [@meal, @booking] do |form| %>
  <div class="actions">
    <%= form.submit "Réserver" %>
  </div>
<% end %>
