<h1>Confirmation</h1>

<p>Vous etes sur le point de reserver votre place current_user</p>

<%= simple_form_for [@meal, @booking] do |form| %>
  <div class="actions">
    <%= form.submit "Confirmer ma venue" %>
  </div>
<% end %>
