<h3>Confirmation</h3>

<p>Vous êtes sur le point de réserver votre place, Guillaume</p>

<%= simple_form_for [@meal, @booking] do |form| %>
    <%= form.submit "Confirmer ma venue", class:"button btn-one"%>
<% end %>
