<div class="navbar">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-map"></i>
  <i class="fa-solid fa-plus"></i>
  <i class="fa-solid fa-calendar"></i>
  <i class="fa-solid fa-user"></i>
</div>
