<div class="container">
  <div class="content-home">
    <div class="d-flex justify-content-center">
      <%= image_tag "Logo.png", alt: "logo-taste_explorers", width: 200 %>
    </div>
    <h1>Bienvenue sur Taste Explorers ! </h1>
    <div class="input d-flex align-items-center justify-content-between">
      <div>Rechercher une adresse</div>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
</div>
