<h1>Souhaitez-vous inviter quelqu'un à ce dîner ?</h1>

<ul>
  <li>Renseignez son email</li>
  <li>Cliquez sur "inviter"</li>
  <li>Votre ami reçoit les détails par email</li>
</ul>

<form action="">
  <input type="text" name="email" placeholder="L'email de votre ami">
  <input type="submit" value="Inviter">
</form>
