<h1>A propos de ce repas</h1>

<ul>
  <li>Titre: <%= @meal.title %></li>
  <li>Description: <%= @meal.description %></li>
</ul>

<%= link_to "Generate quiz", meal_questions_path(@meal.id),
 data: {turbo_method: :post}
%>
