.button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: $M;
  padding-block: $S;
  border-radius: $S;
}

.btn-one{
 background-color: $orange;
 color:$light;
 border: none;
}

.btn-line{
  border: solid $orange 1px;
  color:$orange;
  background-color: $light;
 }

.btn-second{
  background-color: $yellow;
  color:$dark;
}

.tag-filtre{
  border-radius: $XS;
  background-color: $light-gray;
  color: $dark;
  padding-inline: $S;
  padding-block: $XS ;
}

.tag-active{
  border-radius: $XS;
  background-color: $orange;
  color: $light;
  padding-inline: $S;
  padding-block: $XS ;
}

.quiz{
  width: 100%;
  background-color: $green-light;
  border-radius: 20px 20px 0px 0px;
}

.p-quiz{
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: $light;
  padding-inline: $L;
  padding-block: $M ;
  margin:0;
}
