.cards-taste{
  display: flex;
  flex-direction: column;
  gap:$L;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.cards-content{
  display: flex;
  flex-direction: column;
  gap:$S;
  min-width: 230px;
  max-width: 280px;
  padding-block: $M;
  padding-left: $S;
  padding-right: $XS;
  border-radius: $M 0px 0px $M;
  border: 1px solid #FBFBFB;
  background-color: $light;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex:1;
}

.cards-text{
  gap:$S;
}

.card-infos{
  display: flex;
  align-items: center;
}

.cards-img{
  flex:1;
  position: relative;
  max-width: 150px;
  height: auto;
  overflow: hidden;
  border-radius: 0px $M $M 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-img{
  width: 100%;
  height: 100%;
}

// .tag{
//   font-size: 14px;
//   position: absolute;
//   left:30px;
//   top:$S;
//   padding-inline:5px;
//   padding-block:2px;
//   border-radius: 5px;
// }

// .tag-city{
//   background-color: $yellow;
//   color: $dark;

// }
