
.user-profile-banner {
  position: fixed;
  margin-top: 20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-images {
  display: flex;
  width: 200%; /* Double de la largeur pour contenir les images dupliquées */
  animation: scroll 30s linear infinite;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Déplace de la moitié de la largeur */
  }
}
